<header>
    <nav>
        <div class="title-container">
            <div class="title">
                <h1>The best blog ever</h1>
            </div>

            <p class="blog-description">Esto es, sin duda alguna, el mejor blog del mundo.</p>

            <div>
                <a class="nav-link" href={% url 'Inicio' %}>INICIO</a>
                <a class="nav-link" href={% url 'Inicio' %}>SOBRE MI</a>
                <a class="nav-link" href={% url 'Inicio' %}>CONTACTO</a>
            </div>
        </div>

        <div class="search-social">
            <input type="text" placeholder="Buscar...">
            <div class="social-icons">
                <a class="nav-link social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a class="nav-link social-link" href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </nav>
</header>